*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    font-size: 62.5%;
    background: black;
}

body{
    font-family: 'Orbitron', sans-serif;
    font-family: 'Barlow Condensed', sans-serif;
}
h2{
    color: white;
    font-weight: 300;
    font-size: 4.5rem;
    margin-top: 2rem;
}
h3{
    font-weight: 300;
    font-size: 2rem;
    color: hsl(0, 0%, 30%);
}
h4{
    font-weight: 300;
    font-size: 3rem;
    color: $purple-text;
    letter-spacing: 0.3rem;
}
a{
    color: white;
    font-weight: 300;
    text-decoration: underline;
 }

 .button{
    cursor: pointer;
    display: block;
    margin: auto; 
    background: transparent;
    border: $background-color 1px solid;
    color: $purple-text;
    margin: 0.5rem auto;
    font-size: 1.6rem;
    padding: 0.6rem 2.5rem;
    border-radius: 0.2rem;
}
.button:hover{
    border-radius: 0.2rem;
    border-color: white;
    text-shadow: 0 0 0.300em hsl(0, 0%, 100% / 0.3),
    0 0 0.60em var(--clr-neon);
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon),0 0 0.5em 0 var(--clr-neon);
    transition: 0.2s;
}

.button-secondary{
    cursor: pointer;
    display: block;
    margin: auto; 
    background: transparent;
    border: white 1px solid;
    color: white;
    margin: 0.5rem auto;
    font-size: 2.5rem;
    font-weight: 300;
    padding: 0.6rem 2.5rem;
    border-radius: 0.2rem;
}
.button-secondary:hover{
    background: $background-color;
    border: $background-color 1px solid;
}