
header{
    min-height: 10vh;
    .logo{
        width: 100%;
        height: 15vh;
        margin: 2rem auto;
    }
}
section{
    margin: 2rem auto;
    @include flex(center, center, column);
}
p{
    justify-content: center;
    margin-top: 3rem;
    color: $purple-text;
    font-size: 3rem;
}

:root{
    --clr-neon: hsl(274 100% 54%);
}

        .neon-button{
            margin-top: 4rem;
            font-size: 2.5rem;
            display: inline-block;
            cursor: pointer;
            text-decoration: none;
            font-weight: 300;
            color: white;
            border: var(--clr-neon) 0.5px solid;
            padding: 0.6rem 2.5rem;
            border-radius: 0.5rem;
            border-color: white;
            text-shadow: 0 0 0.300em hsl(0, 0%, 100% / 0.3),
            0 0 0.60em var(--clr-neon);
            box-shadow: inset 0 0 0.5em 0 var(--clr-neon),0 0 0.5em 0 var(--clr-neon);
            transition: 0.2s;
            
        }
        .neon-button:hover{
            color: white;
            background: var(--clr-neon);
            box-shadow: 0 0 30px var(--clr-neon) ;
            border-color: var(--clr-neon);
        }

.log-in{
    margin-top: 1rem;
    @include flex(center,center,row);
    a{
        text-decoration: underline;
        margin-left: 0.5rem;
    }
}
svg{
    margin-top: 0.5rem;
}
